body{
    background-color: black;
}
.navbar-brand {
    /* float: left;
    height: 50px;
    padding: 15px 15px; */
    font-size: 30px;
    line-height: 20px;
}
.navbar-nav{
    width: 1390px;
}

.navbar-inverse{
    background-color: black;
}

.container-fluid {
    /* padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; */
    margin-top: 12px;
}

.navbar {
    position: relative;
    min-height: 86px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.search-container{
    float: right;
    /* margin-left: 200px; */
    margin-top: 10px;
}

.containerClubmärk{
    /* width: 100%;
    height: 500px; */
    background-color: black;    
}
.containerClubmärk h1{
    text-align: center;
    padding-top: 15px;
}

#Märk{
padding-top: 10px;
padding-left: 30px;
}

#OmABK{
    float: right;
    /* margin-left: 254px;
    margin-right: -190px; */
}
#Blisponsor{
    float: right;
    /* margin-left: 260px;
    margin-right: -236px; */
}
.containerNav{
    /* width: 100%;
    height: 100px; */
    margin-top: 15px;
    font-size: 20px;
}

.containerStart{
    /* width: 100%; */
    /* height: 600px; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.containerStart h2{
    text-align: center;
}

.containerSMS{
    /* width: 850px;
    height: 650px; */
    margin-top: 10px;
    /* background-color: brown; */
    /* float: left; */
}
/* .controls{
    height: 60px;
    width: 800px;
    margin-left: 10px;
} */
.controlsSend{
    /* height: 245px;
    width: 830px; */
    padding-left: 10px;
}

.containerKontakt{
    /* width: 680px;
    height: 650px; */
    /* margin-top: 15px; */
    /* float: right; */
    /* background-color: chocolate; */
    text-align: center;
    font-size: 30px;
}
.containerKontakt h1{
    /* margin-top: 40px; */
    font-size: 45px;
}
.containerKontakt p{
    margin-top: 30px;
}
.containerNyhet{
    
    /* width: 1054px; */
    margin-top: 20px;
    /* background-color: yellow; */
    /* height: 600px; */
}
.containerNyhet h1{
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
.containerNyhet h4{
    text-align: center;
    font-size: 30px;
}

.containerSponsorList{
    /* width: 472px; */
    margin-top: 20px;
    margin-left: 5px;
    /* background-color: tomato; */
    /* height: 600px; */
}
.containerSponsorList h1{
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

.containerFooter{
    /* width: 100%;
    height: 200px; */
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: yellowgreen;
}


.containerSpon1{
    position: relative;
    /* margin-top: 10px;
    width: 620px;
    height: 400px; */
}
.spon1{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-style: oblique;
}

.containerSpon2{
    position: relative;
    /* margin-top: 10px;
    width: 620px;
    height: 400px; */
}
.spon2{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-style: oblique;
}